body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .test {
      height: 100%;
      border: 1px solid #333;
      box-sizing: border-box;
  }
  .red {
    background-color: #F15151;
  }
  .green {
    background-color: #6EC16B;
  }
  .blue {
    background-color: #65ECE8;
  }
  .yellow {
    background-color:  #EBEC65;
  }
  .orange {
    background-color: #F9B561;
  }
  .purple {
    background-color: #BE8AE3;
  }
  .turquoise {
    background-color: #6DADE7;
  }
  .square {
    background: #fff;
    border:1px solid #444;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: 25px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 25px;
  }
  
  .square:focus {
    outline: none;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }